body {
    background: goldenrod;
}

.baslık {
    color: purple;
    margin-left: 300px;
    margin-top: 50px;
}
.malzm {
    
    float: left;
    padding-left: 10px;
}
.mlzb {
 color: purple;
}
.yap {
    margin-top: 18%;
    padding-left: 10px;
}
img {
    margin-top: 20px;
}